<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left" id="">
    		Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <span>勉强运行<a href="#"><span id="runtime"></span></a>天</span>
    	</div>
		<script type="text/javascript" id="changetitle"></script>
		<script type="text/javascript">
		function runtime() {
			var runTime = document.getElementById("runtime");
			var createDate = new Date("04/20/2015");
			var nowDate = new Date();
			var dateLine = nowDate.getTime() - createDate.getTime();
			var runDate = Math.floor(dateLine / (1000 * 60 * 60 * 24));
			runTime.innerHTML = runDate;
		};
		function changeTitle(){
			ts = document.getElementById('changetitle');
			ts.innerHTML = "var title = document.title;window.onblur = function(){document.title = '你不爱我了QAQ';};window.onfocus = function(){document.title = title;};";
		};
		$(document).ready(function(){
			runtime();
			changeTitle();
		});
		</script>
		<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
		<script>
		$.pjax({
			selector: 'a[target!=_blank]',
			container: '#wrapper', //内容替换的容器
			show: 'fade',  /*展现的动画，支持默认和fade, 可以自定义动画方式，这里为自定义的function即可*/
			cache: true,  /*是否使用缓存*/
			storage: true,  /*是否使用本地存储*/
			titleSuffix: '', /*标题后缀*/
			filter: function(){},
			callback: function(){}
		})
		</script>
    </div>
  </div>
</footer>