<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left" id="">
    		Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <span>勉强运行<a href="#"><span id="runtime"></span></a>天</span>
    	</div>
		<script type="text/javascript" id="changetitle"></script>
		<script type="text/javascript">
		function runtime() {
			var runTime = document.getElementById("runtime");
			var createDate = new Date("04/20/2015");
			var nowDate = new Date();
			var dateLine = nowDate.getTime() - createDate.getTime();
			var runDate = Math.floor(dateLine / (1000 * 60 * 60 * 24));
			runTime.innerHTML = runDate;
		};
		function changeTitle(){
			ts = document.getElementById('changetitle');
			ts.innerHTML = "var title = document.title;window.onblur = function(){document.title = '你不爱我了QAQ';};window.onfocus = function(){document.title = title;};";
		};
		$(document).ready(function(){
			runtime();
			changeTitle();
			aplayer();
		});
		</script>
      	<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>