<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left" id="">
    		Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <span>勉强运行<a href="#"><span id="runtime"></span></a>天</span>
    	</div>
		<script type="text/javascript">
		/*显示博客运行时间*/
		function runtime() {
			var runTime = document.getElementById("runtime");
			var createDate = new Date("04/20/2015");
			var nowDate = new Date();
			var dateLine = nowDate.getTime() - createDate.getTime();
			var runDate = Math.floor(dateLine / (1000 * 60 * 60 * 24));
			runTime.innerHTML = runDate;
		};
		$(document).ready(function(){
			runtime();
		});
		/*窗口监视*/
		var originalTitle = document.title;
		window.onblur = function(){document.title = '你不爱我了QAQ'};
		window.onfocus = function(){document.title = originalTitle};
		</script>
		<script>
		destoryJS = function() {
			themeMainScript = document.getElementById('themeMainScript');
			themeMainScript.name = themeMainScript.src;
			themeMainScript.src = "#";
			themeSliderScript = document.getElementById('themeSliderScript');
			themeSliderScript.name = themeSliderScript.src;
			themeSliderScript.src = "#";
		};
		reloadJS = function() {
			themeMainScript = document.getElementById('themeMainScript');
			themeMainScript.src = themeMainScript.name;
			themeMainScript.name = "";
			themeSliderScript = document.getElementById('themeSliderScript');
			themeSliderScript.src = themeSliderScript.name;
			themeSliderScript.name = "";
		};
		/*PJAX*/
		$(document).pjax('a[target!=_blank]', '#wrapper', {fragment:'#wrapper', timeout:8000});
		$(document).on('pjax:start', NProgress.start);
		$(document).on('pjax:end', NProgress.done);
		$(document).on('pjax:start', function() {
			destoryJS();
		});
		$(document).on('pjax:complete', function() {
			recheckDQ();
			setTimeout(function(){
				reloadJS();
			},500);
		});
		$(document).on('pjax:popstate', function() {
			setTimeout(function(){
				recheckDQ();
			},500);
		});
		</script>
		<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>