<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left" id="">
    		Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <span>勉强运行<a href="#"><span id="runtime"></span></a>天</span>
    	</div>
		<script type="text/javascript" id="changetitle"></script>
		<script type="text/javascript">
		function runtime() {
			var runTime = document.getElementById("runtime");
			var createDate = new Date("04/20/2015");
			var nowDate = new Date();
			var dateLine = nowDate.getTime() - createDate.getTime();
			var runDate = Math.floor(dateLine / (1000 * 60 * 60 * 24));
			runTime.innerHTML = runDate;
		};
		$(document).ready(function(){
			runtime();
		});
		</script>
		<script>
		$(document).pjax('a[target!=_blank]', '#wrapper', {fragment:'#wrapper', timeout:8000});
		$(document).on('pjax:start', NProgress.start);
		$(document).on('pjax:start', function () {
			if (window.aplayers) {
				for (let i = 0; i < window.aplayers.length; i++) {
					window.aplayers[i].destroy();
				}
				window.aplayers = [];
			}
		});
			if (!window.audios) {
				audios = [];
				for (var i = 0; i < aplayers.length; i++) {
					audios[i] = aplayers[i].audio;
				}
			};
		$(document).on('pjax:end', NProgress.done);
		$(document).on('pjax:complete', function() {
			recheckDQ();
			/*init();*/
			for (var i = 0; i < aplayers.length; i++) {
					audios.push(aplayers[i].audio);
				}
			for(var i = 0; i < audios.length; i++) {if(audios[i]){audios[i].pause()}};
		});
		</script>
		<div class="footer-right">
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
      	</div>
    </div>
  </div>
</footer>