// Colors
// -----------------------

// body
$body-bg-color = theme-config("color.body_bg_color", "#eee")

// global
$text-color = theme-config("color.text_color", "#3c4858")
$link-color = theme-config("color.link_color", $text-color)
$link-hover-color = theme-config("color.link_hover_color", "#1abc9c")
$link-hover-bg = #f8f9fa

// navbar
$navbar-bg-color = theme-config("color.navbar_bg_color", "#2f4154")
$navbar-text-color = theme-config("color.navbar_text_color", $text-color)

// board
$board-bg-color = theme-config("color.board_color", "#fff")

// post
$tocbot-link-color = theme-config("color.tocbot_link_color", "#3c4858")
$tocbot-link-active-color = theme-config("color.tocbot_link_active_color", "#1abc9c")


// Shadow
// -----------------------

$img-shadow = 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15) !important

//toc
$tocbot-link-shadow = theme-config("color.tocbot_link_shadow", "0.1em 0.1em 0.2em #ffffff")
$tocbot-active-link-shadow = theme-config("color.tocbot_active_link_shadow", "0.1em 0.1em 0.2em #ffbcbc")

//sidebar
$sidebar-text-color = theme-config("color.sidebar_text_color", "#3c4858")
$sidebar-background-color = theme-config("color.sidebar_background_color", "#f6f8fad1")
$sidebar-button-color = theme-config("color.sidebar_button_color", "#99a9bf")
$sidebar-button-shift-color = theme-config("color.sidebar_button_shift_color", "#ffffff")
$sidebar-button-shift-shadow = theme-config("color.sidebar_button_shift_shadow", "0.1rem 0.1rem 0.5rem #3e3e3e")
$sidebar-about-link-color = theme-config("color.sidebar_about_link_color", "#3c4858")
$sidebar-about-link-hover-color = theme-config("color.sidebar_about_link_hover_color", "#fe4365")
$sidebar-avatar-border = theme-config("color.sidebar_avatar_border", "5px solid #ffffff")
$sidebar-subtitle-color = theme-config("color.sidebar_subtitle_color", "#999999")
$sidebar-friend-title = theme-config("color.sidebar_friend_title", "#ffffff")
$sidebar-friend-title-background = theme-config("color.sidebar_friend_title_background", "#fe91b4")
$sidebar-friend-link = theme-config("color.sidebar_friend_link", "#3c4858")
$sidebar-friend-link-hover = theme-config("color.sidebar_friend_link_hover", "#ffffff")
$sidebar-friend-li-border = theme-config("color.sidebar_friend_li_border", "1px dashed #bdbdbd")
$sidebar-friend-li-hover = theme-config("color.sidebar_friend_li_hover", "#fe91b4")
$sidebar-friend-ico = theme-config("color.sidebar_friend_ico", "#bfbfbf")

//footer
$footer-color = theme-config("color.footer_color", "#ffffff")
$footer-shadow = theme-config("color.footer_shadow", "0.1rem 0.1rem 0.5rem white")
$footer-a-color = theme-config("color.footer_a_color", "#ffffff")
$footer-a-hover-color = theme-config("color.footer_a_hover_color", "#fe4365")
$footer-theme-a-color = theme-config("color.footer_theme_a_color", "#fc9d9a")
$footer-theme-a-shadow = theme-config("color.footer_theme_a_shadow", "0.1rem 0.1rem 0.2rem #fe4365")
$footer-icon-color = theme-config("color.footer_icon_color", "#fc9d9a")
$footer-icon-shadow = theme-config("color.footer_icon_shadow", "0.1rem 0.1rem 0.5rem white")

//scrollbar
$scrollbar-color = theme-config("color.scrollbar_color", "#fec9c9")
$scrollbar-thumb-color = theme-config("color.scrollbar_thumb_color", "#fe4365")


// User custom
// -----------------------
@import "custom"